<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Ebay.Stoker.WebApp-20161027094122.mdf;Initial Catalog=aspnet-Ebay.Stoker.WebApp-20161027094122;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- API Server URL, required -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox site use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Environment.ApiServerUrl" value="https://api.ebay.com/wsapi" />
    <!-- User token for API server access, required -->
    <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**7wERWA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wDl4WjCZmApwmdj6x9nY+seQ**3nUDAA**AAMAAA**nDwkIFbOTLeLrvW7XxkxZvkoGFt6LcTgt9fB6NIYSz3tkUUAv1lf6yg7qTTSO1OSHj8FrfeiS/43JENHriebtgnAOaQSLhko4XC3ko6Cpb4g/sKZ12B36h9DNkAMv2PCXW3l/zazDP12u443lC+86diaOc5NLCwJIbLeLFq1+TsuIMjcgW7XMjZod8zXyuy6nPN3EWGWNbncB62Hj84iAW8B1dfulliSlSifxa05Bc0uCN+ZK83ZT8fmyb6HMscj/MAhXBtArKBThW6r+QNNUbNRJeAMIFHHbJUxF900FLGCE2iXoUjULnV0fPDbxaysXpJX/vM+ZSPdTM2tWfWE3dAHuqnmO02zcKBqHP7CjjCfLOSc9YPhD7FnnOjdNKyD6xvFkcpvwZOmqXuzUkNkSM2bpPYlV6edyNqKX49hJeo1LJcG08X5edjIvxBF4mq9WbrJjDWFZeQvaXp7vh8jQKMx3qHbdrnajXq8fQRJim5VBw3Ex7hhPynIbWsgXYqydeEz8CeHb1uy+NQmh+l99iUaw85UxPYWL6W+j6XCp2kjuKrWbOrIw/HnGJHPfSUrsNBe1Ft/F8+G1I5aONKVmbQBRnWka3W2JJgde0bWTfrdNSQQAmtIPCHDSfM8ujyFlBpN2DkUl20BEHdpOTyZiugpiKAa7QPiJy5kW3fzuuZ7rB2+EgfXG4HE/vOFrpDP1tnpqZP07TyxLdCJlyk6S9AWKaByt1VfID5YOTU01dP8NZ6HDSGGPg8PHu70XR9T" />

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>