@model Ebay.Stoker.WebApp.Models.SellerSerchModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<h3>Stoker Application</h3>

<script src="~/Scripts/jquery-3.1.1.js"></script>

<div class="container">


    <form class="form-group" role="form" action="@Url.Action("Index")" method="get">
        <div class="form-group">

            <div class="row">
                <input id="daterange" name="daterange" class="date"/>
                @Html.HiddenFor(m=>m.startdate)
                @Html.HiddenFor(m => m.endDate)
            </div>
            <div class="row">

                <label class="control-label" for="sellerName">Enter Sellerid</label>
               @Html.TextBoxFor(m => m.sellerName , new { @class = "form-control" })
                 @*<input class="form-control" id="exampleInputEmail1"
                       placeholder="Sellerid" type="text">*@

            </div>
        </div>

        <button type="submit" class="btn btn-default">
            Serch
            <i class="fa fa-fw fa-search"></i>
        </button>
    </form>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                            tempus viverra turpis.
                        </p>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                            tempus viverra turpis.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>





<script type="text/javascript">

$(function() {

    $('input.date').daterangepicker(
    {
        locale: {
            format: 'DD-MM-YYYY'
        },
   
    },
    function (start, end, label) {
        
        $('input[name="startdate"]').val(start.format('DD-MM-YYYY'));
        $('input[name="endDate"]').val(end.format('DD-MM-YYYY'));
    });
});
</script>